PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=stockscope

JWT_SECRET=StockScope@2026#SecureJWT!ReactNodeMySQL
JWT_EXPIRES_IN=7d

FINNHUB_API_KEY=your_api_key
FINNHUB_BASE_URL=https://finnhub.io/api/v1